.banner {
  background: url(../images/banner.png) center/cover no-repeat ;
  color: $white;
  text-align: center;
  padding-top: 15vh;
  padding-bottom: 15vh;
  h1 {
    font-style: italic;
    font-size: 3em;
    @media (min-width: 992px) {
      font-size: 3.8em;
    }
  }
  h1 span:first-child {
    @extend %uppercase;
    @extend %libre;
  }
  h1 span:last-child {
    @extend %lobster;
  }
  h2 {
    @extend %capitalize;
    @extend %libre;
    font-size: 1em;
    letter-spacing: .3em;
    margin-bottom: 15vh;
    @media (min-width: 992px) {
      font-size: 1.5em;
    }
  }
  p {
    width: 300px;
    margin: auto;
    margin-bottom: 5vh;
    @extend %libre;
    line-height: 1.5;
    @media (min-width: 992px) {
      width: 400px;
      font-size: 1.25em;
    }
  }
  p:first-letter {
    @extend %uppercase;
  }
  > span {
    @include vertical-dot;
    margin-bottom: 3vh;
  }
}