.describe {
  background: url('../images/sea-horse-bg.jpg') center/cover no-repeat fixed;
  @include area(0, 15%);
  padding-top: 80px;
  padding-bottom: 30px;
  color: $white;
  @media (min-width: 992px) {
    background-size: 200%;
  }
  article {
    @media (min-width: 992px) {
      column-count: 2;
      column-gap: 9em;
    }
    h4 {
      @extend %libre;
      @extend %capitalize;
      font-size: 1.8em;
      margin-bottom: 15px;
    }
    p {
      margin-bottom: 15px;
      font-size: .9em;
      font-weight: 400;
    }
    .devider {
      text-align: center;
      margin-top: 125px;
      margin-bottom: 65px;
      span {
        @include horizontal-dot;
        @include apart(0, 8px);
      }
    }
    .gutter::before {
      @media (min-width: 992px) {
        content: "";
        display: block;
        height: 260px;
      }
    }
  }
  a {
    @include button;
    @include area(10px, 0);
    margin-top: 125px;
    background: $white;
    color: $black;
  }
}



.switch {
  @media (min-width: 992px) {
    display: none;
  }
}