.team {
  @include flexbox;
  > h4 {
    flex: 0 0 100%;
    margin-bottom: 35px;
    @extend %capitalize;
    @extend %libre;
    font-size: 1.5em;
    color: $red;
    text-align: center;
  }
  .label {
    display: block;
    flex: 0 0 100%;
    order: -1;
    margin-bottom: 35px;
    p {
      @include label;
      @include area(20px, 10px);
      font-size: 1.2em;
    }
  }
  .label::after {
    @include arrow;
  }
  .label::first-letter {
    @extend %capitalize;
  }
}

.member {
  flex: 0 0 100%;
  @include flexbox;
  @include area(0, 18%);
  > div {
    @include card(100%, 50%, 50%)
    margin-bottom: 40px;
    img {
      @include card-img;
      margin-bottom: 20px;
    }
    h2 {
      @extend %capitalize;
      @extend %libre;
      color: $red;
      font-size: 2.5em;
      text-align: center;
    }
    h3 {
      @extend %capitalize;
      @extend %lato;
      font-size: 1.1em;
      text-align: center;
    }
  }
}

.contact {
  @include button;
  margin-bottom: 45px;
  background-color: $black;
  color: $white;
}