@mixin button {
  display: block;
  width: 210px;
  margin: auto;
  @include area(10px, 0);
  text-align: center;
  @extend %uppercase;
  @extend %lato;
  &:hover {
    background: $red;
    color: $white;
    transition: .5s;
  }
}