//$phone: 手機螢幕尺寸（576px以上）
//$pad: 平板螢幕尺寸（768px以上）
//$pc: 電腦螢幕尺寸（992px以上）

.card {
  display: block;
  position: relative;
  @include card-width_mediaquery(100%, 100%, 50%);
  img {
    width: 100%;
    visibility: middle;
  }
}

@mixin card-width_mediaquery($as-phone, $as-pad, $as-pc) {
  flex: 0 0 100%;
  @include mediaquery_phone {
    flex: 0 0 $as-phone;
  }
  @include mediaquery_pad {
    flex: 0 0 $as-pad;
  }
  @include mediaquery_pc {
    flex: 0 0 $as-pc;
  }
}