@import url('https://fonts.googleapis.com/css?family=Lato|Libre+Baskerville|Lobster&display=swap');

%libre {
  font-family: 'Libre Baskerville';
  font-weight: normal;
}

%lato {
  font-family: 'Lato';
  font-weight: normal;
}

%lobster {
  font-family: 'Lobster';
  font-weight: 300;
}

%capitalize {
  text-transform: capitalize;
}

%uppercase {
  text-transform: uppercase;
}
