%container {
  width: 90%;
  margin: auto;
}

@mixin area($y, $x) {
  padding: $y $x;
}

@mixin apart($y, $x) {
  margin: $y $x;
}

@mixin flexbox {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}