@import url('https://fonts.googleapis.com/css?family=Lato|Libre+Baskerville|Lobster&display=swap');

%libre {
  font-family: 'Libre Baskerville';
}

%lato {
  font-family: 'Lato';
}

%lobster {
  font-family: 'Lobster';
}

%capitalize {
  text-transform: capitalize;
}

%uppercase {
  text-transform: uppercase;
}
