@import url("https://fonts.googleapis.com/css?family=Lato|Libre+Baskerville|Lobster&display=swap");
/* line 2, scss/global/_reset.scss */
*, *::before, *::after {
  box-sizing: border-box; }

/* line 6, scss/global/_reset.scss */
body, h1, h2, h3, h4, p {
  margin: 0; }

/* line 10, scss/global/_reset.scss */
a, a:hover {
  text-decoration: none;
  color: inherit; }

/* line 3, scss/global/_typography.scss */
.banner h1 span:first-child, .banner h2, .banner p, .sample a + a h3, .team > h4, .member > div h2, .describe article h4 {
  font-family: 'Libre Baskerville'; }

/* line 7, scss/global/_typography.scss */
.sample .label h2, .team .label p, .member > div h3, .contact, .describe a {
  font-family: 'Lato'; }

/* line 11, scss/global/_typography.scss */
.banner h1 span:last-child {
  font-family: 'Lobster'; }

/* line 15, scss/global/_typography.scss */
header a, .banner h2, .sample .label h2, .team > h4, .team .label::first-letter, .member > div h2, .member > div h3, .describe article h4, footer span {
  text-transform: capitalize; }

/* line 19, scss/global/_typography.scss */
.banner h1 span:first-child, .banner p:first-letter, .sample a + a h3::first-letter, .contact, .describe a, footer a::first-letter {
  text-transform: uppercase; }

/* line 1, scss/layout/_header.scss */
header {
  background-color: #370835;
  text-align: center; }
  /* line 4, scss/layout/_header.scss */
  header nav {
    padding: 20px 0; }
  /* line 7, scss/layout/_header.scss */
  header a {
    color: #fff;
    padding: 0 10px; }
    /* line 11, scss/layout/_header.scss */
    header a:hover {
      color: #CF4976; }

/* line 1, scss/layout/_banner.scss */
.banner {
  background: url(../images/banner.png) center/cover no-repeat;
  color: #fff;
  text-align: center;
  padding-top: 15vh;
  padding-bottom: 15vh; }
  /* line 7, scss/layout/_banner.scss */
  .banner h1 {
    font-style: italic;
    font-size: 3em; }
    @media (min-width: 992px) {
      /* line 7, scss/layout/_banner.scss */
      .banner h1 {
        font-size: 3.8em; } }
  /* line 21, scss/layout/_banner.scss */
  .banner h2 {
    font-size: 1em;
    letter-spacing: .3em;
    margin-bottom: 15vh; }
    @media (min-width: 992px) {
      /* line 21, scss/layout/_banner.scss */
      .banner h2 {
        font-size: 1.5em; } }
  /* line 31, scss/layout/_banner.scss */
  .banner p {
    width: 300px;
    margin: auto;
    margin-bottom: 5vh;
    line-height: 1.5; }
    @media (min-width: 992px) {
      /* line 31, scss/layout/_banner.scss */
      .banner p {
        width: 400px;
        font-size: 1.25em; } }
  /* line 45, scss/layout/_banner.scss */
  .banner > span {
    display: block;
    margin: auto;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
    margin-bottom: 3vh; }

/* line 1, scss/layout/_portfolio.scss */
.sample {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  /* line 4, scss/layout/_portfolio.scss */
  .sample .label {
    display: block;
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    padding: 0 25%;
    z-index: 1; }
    @media (min-width: 576px) {
      /* line 4, scss/layout/_portfolio.scss */
      .sample .label {
        padding: 0 30%; } }
    @media (min-width: 992px) {
      /* line 4, scss/layout/_portfolio.scss */
      .sample .label {
        padding: 0 36%; } }
    /* line 18, scss/layout/_portfolio.scss */
    .sample .label h2 {
      background: #FF2D49;
      color: #fff;
      text-align: center;
      height: 50px;
      line-height: 50px;
      font-size: 1.2em; }
    /* line 25, scss/layout/_portfolio.scss */
    .sample .label::after {
      content: "";
      display: block;
      margin: auto;
      width: 0px;
      height: 0px;
      border-top: 15px solid #FF2D49;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent; }
  /* line 29, scss/layout/_portfolio.scss */
  .sample a + a {
    display: block;
    position: relative;
    flex: 0 0 100%; }
    @media (min-width: 576px) {
      /* line 29, scss/layout/_portfolio.scss */
      .sample a + a {
        flex: 0 0 50%; } }
    @media (min-width: 768px) {
      /* line 29, scss/layout/_portfolio.scss */
      .sample a + a {
        flex: 0 0 33.33%; } }
    @media (min-width: 992px) {
      /* line 29, scss/layout/_portfolio.scss */
      .sample a + a {
        flex: 0 0 25%; } }
    /* line 31, scss/layout/_portfolio.scss */
    .sample a + a img {
      width: 100%;
      vertical-align: middle; }
    /* line 34, scss/layout/_portfolio.scss */
    .sample a + a div {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #CF4976ee;
      text-align: center;
      opacity: 0; }
      /* line 43, scss/layout/_portfolio.scss */
      .sample a + a div::before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle; }
      /* line 49, scss/layout/_portfolio.scss */
      .sample a + a div:hover {
        opacity: 1;
        transition: .5s; }
    /* line 54, scss/layout/_portfolio.scss */
    .sample a + a h3 {
      display: inline-block;
      color: #fff;
      font-size: 1.6em;
      vertical-align: middle; }

/* line 1, scss/layout/_team.scss */
.team {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  /* line 3, scss/layout/_team.scss */
  .team > h4 {
    flex: 0 0 100%;
    margin-bottom: 35px;
    font-size: 1.5em;
    color: #FF2D49;
    text-align: center; }
  /* line 12, scss/layout/_team.scss */
  .team .label {
    display: block;
    flex: 0 0 100%;
    order: -1;
    margin-bottom: 35px; }
    /* line 17, scss/layout/_team.scss */
    .team .label p {
      background: #FF2D49;
      color: #fff;
      text-align: center;
      padding: 20px 10px;
      font-size: 1.2em; }
  /* line 23, scss/layout/_team.scss */
  .team .label::after {
    content: "";
    display: block;
    margin: auto;
    width: 0px;
    height: 0px;
    border-top: 15px solid #FF2D49;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent; }

/* line 31, scss/layout/_team.scss */
.member {
  flex: 0 0 100%;
  padding: 0 18%; }
  /* line 34, scss/layout/_team.scss */
  .member > div {
    display: block;
    position: relative;
    flex: 0 0 100%;
    margin-bottom: 40px; }
    @media (min-width: 576px) {
      /* line 34, scss/layout/_team.scss */
      .member > div {
        flex: 0 0 100%; } }
    @media (min-width: 768px) {
      /* line 34, scss/layout/_team.scss */
      .member > div {
        flex: 0 0 50%; } }
    @media (min-width: 992px) {
      /* line 34, scss/layout/_team.scss */
      .member > div {
        flex: 0 0 50%; } }
    /* line 37, scss/layout/_team.scss */
    .member > div img {
      width: 100%;
      vertical-align: middle;
      margin-bottom: 20px; }
    /* line 41, scss/layout/_team.scss */
    .member > div h2 {
      color: #FF2D49;
      font-size: 2.5em;
      text-align: center; }
    /* line 48, scss/layout/_team.scss */
    .member > div h3 {
      font-size: 1.1em;
      text-align: center; }

/* line 57, scss/layout/_team.scss */
.flexbox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

/* line 61, scss/layout/_team.scss */
.contact {
  display: block;
  width: 210px;
  margin: auto;
  padding: 10px 0;
  text-align: center;
  margin-bottom: 45px;
  background-color: #000;
  color: #fff; }
  /* line 9, scss/component/_button.scss */
  .contact:hover {
    background: #FF2D49;
    color: #fff;
    transition: .5s; }

/* line 1, scss/layout/_descride.scss */
.describe {
  background: url("../images/sea-horse-bg.jpg") center/cover no-repeat fixed;
  padding: 0 8%;
  padding-top: 80px;
  padding-bottom: 30px;
  color: #fff; }
  @media (min-width: 576px) {
    /* line 1, scss/layout/_descride.scss */
    .describe {
      padding: 0 18%;
      padding-top: 80px;
      padding-bottom: 30px; } }
  @media (min-width: 992px) {
    /* line 1, scss/layout/_descride.scss */
    .describe {
      background-size: 200%; } }
  @media (min-width: 992px) {
    /* line 15, scss/layout/_descride.scss */
    .describe article {
      column-count: 2;
      column-gap: 9em; } }
  /* line 20, scss/layout/_descride.scss */
  .describe article h4 {
    font-size: 1.8em;
    margin-bottom: 15px; }
  /* line 26, scss/layout/_descride.scss */
  .describe article p {
    margin-bottom: 15px;
    font-size: .9em;
    font-weight: 400; }
  /* line 31, scss/layout/_descride.scss */
  .describe article .devider {
    text-align: center;
    margin-top: 125px;
    margin-bottom: 65px; }
    /* line 35, scss/layout/_descride.scss */
    .describe article .devider span {
      display: inline-block;
      width: 8px;
      height: 8px;
      background-color: #fff;
      border-radius: 50%;
      margin: 0 8px; }
  @media (min-width: 992px) {
    /* line 40, scss/layout/_descride.scss */
    .describe article .gutter::before {
      content: "";
      display: block;
      height: 260px; } }
  /* line 48, scss/layout/_descride.scss */
  .describe a {
    display: block;
    width: 210px;
    margin: auto;
    padding: 10px 0;
    text-align: center;
    padding: 10px 0;
    margin-top: 125px;
    background: #fff;
    color: #000; }
    /* line 9, scss/component/_button.scss */
    .describe a:hover {
      background: #FF2D49;
      color: #fff;
      transition: .5s; }

@media (min-width: 992px) {
  /* line 57, scss/layout/_descride.scss */
  .switch {
    display: none; } }

/* line 1, scss/layout/_footer.scss */
footer {
  padding: 30px 30px;
  background: #E5E4E4;
  text-align: center;
  text-align: center; }
  /* line 9, scss/layout/_footer.scss */
  footer a {
    display: inline-block;
    color: #FF2D49; }
    /* line 15, scss/layout/_footer.scss */
    footer a:hover {
      color: #FF2D49;
      text-decoration: underline; }
