@import url("https://fonts.googleapis.com/css?family=Lato|Libre+Baskerville|Lobster&display=swap");
/* line 2, scss/global/_reset.scss */
* {
  box-sizing: border-box; }

/* line 6, scss/global/_reset.scss */
body, h1, h2, h3, h4, ul, p {
  margin: 0; }

/* line 10, scss/global/_reset.scss */
a, a:hover {
  text-decoration: none;
  color: inherit; }
