@import url("https://fonts.googleapis.com/css?family=Lato|Libre+Baskerville|Lobster&display=swap");
/* line 3, scss/global/_font.scss */
header a {
  text-transform: capitalize; }

/* line 2, scss/global/_reset.scss */
* {
  box-sizing: border-box; }

/* line 6, scss/global/_reset.scss */
body, h1, h2, h3, h4, ul, p {
  margin: 0; }

/* line 10, scss/global/_reset.scss */
a, a:hover {
  text-decoration: none;
  color: inherit; }

/* line 1, scss/global/_space.scss */
header nav {
  width: 90%;
  margin: auto; }

/* line 1, scss/layout/_header.scss */
header {
  background-color: #370835;
  text-align: center; }
  /* line 4, scss/layout/_header.scss */
  header nav {
    padding: 20px 0; }
  /* line 8, scss/layout/_header.scss */
  header a {
    color: #fff;
    padding: 0 10px; }
    /* line 12, scss/layout/_header.scss */
    header a:hover {
      color: #CF4976; }
